{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block title %}{{ posts.title }}{% endblock %}

{% block content %}
    <h1>{{ posts.title }}</h1>
    <p class="date">
    上传时刻: {{ posts.publish }} 作者: {{ posts.author }}
    </p>
{#    {{ posts.body|linebreaks }}#}
    {{ posts.body|markdown }}
    <p>
    <h2>相关文章</h2>
    {% for post in similar_posts %}
        <p>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
    {% empty %}
        未找到相似的文件。
    {% endfor %}
    {% with comments.count as total_comments %}
    <h2>
        评论数 {{ total_comments }} 条:
{#        {{ total_comments }} 评论数 {{total_comments|pluralize}}#}
    </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
        <p class="info">
            评论: {{ forloop.counter }} 作者: {{ comment.name }} 时间: {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
        </div>
        {% empty %}
        <p>
        暂时还没有评论
        </p>
    {% endfor %}
    {% if new_comment %}
        <h2>
        评论成功
        </h2>
    {% else %}
        <h2>
        评论区
        </h2>
        <form action="." method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="评论"></p>
        </form>
    {% endif %}
    <a href="{% url "blog:post_share" posts.id  %}">
            分享文章
        </a>
    </p>
{% endblock %}